.justify{
    text-align: justify;
}
.form-container{
    max-width: 800px;
    margin: 0;
    margin-left: 0;
    padding: 20px;
    border: 1px;
    border-radius: 5px;
    background-color: silver
}

.form-container label,
.form-container input{
    display: inline;
    margin-bottom: 10px;;
}

.form-container input[type="text"],
.form-container numberarea{
    width:100%;
    padding: 5px;
    border: 1px;
    border-radius: 3px;
}

.form-container input[type="submit"]{
    background-color: rgb(52, 197, 240);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="reset"]{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.kotak-hasil{
    max-width: 800px;
    margin: 0;
    margin-left: 0;
    padding: 20px;
    border: 1px;
    border-radius: 5px;
    background-color: silver;
    text-align: center;
}